@page "/security/forgot-password"
@attribute [AllowAnonymous]
<MudGrid xs="12" Spacing="0" Class="ma-0">
    <MudItem xs="12" Class="">
        <EditForm EditContext="EditContext" OnValidSubmit="SubmitAsync">
            <DataAnnotationsValidator />
            <MudGrid Spacing="0">
                <MudItem xs="1" Class="flex-grow-1">
                </MudItem>
                <MudItem xs="10">
                    <MudGrid Spacing="0" Class="d-flex justify-center">
                        <MudItem xs="12" Class="logincontent">
                            <MudGrid xs="12" Spacing="0" Class="logincolumnSM loginbox loginboxSM">
                                <MudItem xs="12" Style="text-align:center">
                                    <img src="/media/logo.jpg" style="width: 200px;" />
                                </MudItem>
                                <MudItem xs="12" Style="text-align:center;padding-top:20px">
                                    <MudText Typo="Typo.subtitle2" Class="mb-n4">
                                        Não se preocupe! Informe seu e-mail de acesso e te enviaremos as instruções para redefinir a sua senha.
                                    </MudText>
                                </MudItem>
                                <MudItem xs="12" Style="text-align:center;padding-top:30px">
                                    <MudTextField Label="@_localizer[nameof(Fields.Email)]" Variant="Variant.Outlined" @bind-Value="EditModel.Email" For="@(() => EditModel.Email)"></MudTextField>
                                </MudItem>
                                <MudItem xs="12" Style="text-align:center;padding-top:10px">
                                    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" FullWidth="true">Enviar</MudButton>
                                </MudItem>
                                <MudItem xs="12" md="12" sm="12">
                                    @if (Wait)
                                    {
                                        <MudProgressLinear Color="Color.Secondary" Indeterminate="true" Class="mt-2" />
                                    }
                                </MudItem>
                                <MudItem xs="12" Class="align-center mt-6 forgotpassword" Style="text-align:center">
                                    <MudLink Href="@Routes.Security.Login" Typo="Typo.body1" Color="Color.Primary">FAZER LOGIN</MudLink>
                                </MudItem>
                            </MudGrid>
                        </MudItem>
                        <MudItem>
                            <span></span>
                        </MudItem>
                    </MudGrid>
                </MudItem>
                <MudItem xs="1" Class="flex-grow-1">
                </MudItem>
            </MudGrid>
        </EditForm>
    </MudItem>
</MudGrid>

<style>
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 30px white inset !important;
    }

    body, html, .logincontent, .logincontentXS {
        background-color: #EFEFEF;
        height: 100%;
        margin: 0;
    }

    .logincontent {
        display: flex;
        justify-content: center;
        height: 100vh;
        background-color: #EFEFEF;
    }

    .logincontentXS {
        display: flex;
        justify-content: center;
        background-color: #FFFFFF !important;
    }

    .logincolumn {
        min-width: 320px;
        max-width: 500px;
        background-color: #EFEFEF;
    }

    .logincolumnXS {
        text-align: center;
        background-color: #FFFFFF !important;
    }

    .logincolumnSM {
        width: 500px !important;
    }

    .loginbox, .loginboxXS {
        border: solid 1px #CDCDCD;
        border-radius: 3px;
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        align-self: center;
        background-color: #FFFFFF;
    }

    .loginboxMDXL {
        max-height: 400px;
    }

    .loginboxXS {
        border: 0 !important;
    }

    .forgotpassword {
        font-weight: 400;
    }

        .forgotpassword a {
            font-size: 14px;
        }

    .noregister {
        text-align: center;
    }

        .noregister p {
            font-size: 13px;
            font-weight: 500;
            color: #676767;
        }

    .welcome {
        color: #F5C15C;
        font-size: 21px;
        font-weight: 500;
    }

    .btnregister {
        color: #A08812;
        border-color: #A08812;
    }

        .btnregister span.mud-button-label {
            font-size: 13px;
        }
</style>


